
/* 관리자 헤더 타일 (2023. 09. 02) - 남기문 수정 */
	


/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500); */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 메인 스타일 */

.container {
    padding: 15px 0;
    width: auto;
    height: 318px;
    font-family: 'GmarketSansMedium', sans-serif; 
    /* background: #011343;   */
    /* background-color: #14172C; */
    background-color: rgb(1, 19, 67);
}


/* 상단바 네비게이션 스타일 */

#header_img{
	/* margin: 0 0 0 50px;
    width: 200px;
    height: 150px; */
    margin: 0 0 0 50px;
    width: 200px;
    height: 150px;
}
#navigation { 
    /* background-color: #14172C; */
    background-color: rgb(1, 19, 67);
    height: 100px;
}

.buttonlist {
    font-size: 0;
    margin: 0;
    padding: 0;
    padding: 87px 0 0 0;        /* 지역, 테마, 더보기 버튼을 밑으로 내림 */
    
}

.menu-etc, .menu-bar {
    display: inline-block;
    position: relative;
}

.menu-etc a {
    display: block;
    font-size: 20px;
    padding: 15px 20px;
    color:rgb(235, 208, 28);
    text-decoration: none;
    font-family: 'GmarketSansMedium', sans-serif; 
}
/* 오른쪽 로그인 스타일 */

.menu-etc a:hover{
    color: lightblue;
}


.menu-bar a{
    display: block;
    font-size: 25px;
    padding: 20px 14px;
    margin: 0 0 0 60px;
    width: 280px;
    /* height: 60px; */
    height: 30px;
    color: rgb(235, 208, 28);
    transition: 0.3s linear;
    text-decoration: none;
}

.menu-bar:hover { background: #14172C; }

.menu-bar ul {
    background-color: white;
    border-bottom: 5px solid #14172C;
    display: none;
    position: absolute;
    margin: 0 0 0 92px;
    width: 300px;
    
}
.menu-bar a{
    text-decoration: non;
}

.inner_button{
    margin: 10px 10px;
    width: 110px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: #14172C;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.inner_button:hover{
    background-color: #14172C;
    color: rgb(235, 208, 28);
}