@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	font-family: 'GmarketSansMedium', sans-serif;
}
#con {
	width: 1200px;
	display: flex;
	align-items: column;
	margin-left: auto;
	margin-right: auto;
}

li {
	list-style: none;
}

#MyPage_text {
	margin-top: 0px;
}

.page_list {
	margin-top: 20px;
	width: 200px;
}

#pay {
	font-weight: bolder;
}

.menu {
	text-decoration: none;
	color: rgb(1, 19, 67);
	font-size: 24px;
}

.menu:hover {
	font-weight: bolder;
}

p#MyPage {
	font-size: 35px;
	text-align: center;
}

#Whole {
	width: 900px;
	margin-left:100px;
}
#title {
	font-size: 35px;
	font-weight: bold;
}

hr {
	margin-top: 20px;
	width: 900px;
	height: 2px;
	background-color: rgb(1, 19, 67);
}

hr#menu_bar {
	width: 200px;
}

#table {
	margin-top: 20px;
	height: auto;
}

#pay_table {
	width: 900px;
	height: 300px;
}

th {
	font-size: 20px;
}

table, th, td {
	border-bottom: 1px solid rgb(1, 19, 67);
	text-align: center;
	border-collapse: collapse;
}
#paging{
	text-align: center;
	margin-top: 15px;
}
#refund_link, #review_link, .receipt_link{
	text-decoration: none;
	background-color: rgb(1, 19, 67);
	color : rgb(235, 208, 28);
	border-radius: 5px;
	display:inline-block;
	width:100px;
	height:40px;
	line-height: 40px;
}
.receipt_link{
	margin-top:10px;
}
#refund_link:hover, #review_link:hover, .receipt_link:hover{
	box-shadow: 5px 5px 5px gray;
}
#s_link{
	color: rgb(1, 19, 67);
	text-decoration: none;
	font-size:16px;
}
#s_img{
	width:210px; 
	height:150px;
}
#s_link:hover{
	text-decoration:underline;
}
#s_img:hover{
	box-shadow: 5px 5px 5px gray;
}
#pay_text{
	display:inline;
}
#searchBox{
	float: right;
}
#inputbox{
	color : rgb(235, 208, 28);
	background-color: rgb(1, 19, 67);
	width : 70px;
	height: 35px;
	border:0px;
	border-radius: 5px;
	cursor: pointer;
}
#inputbox:hover{
	box-shadow: 3px 3px 3px gray;
}
#searchInput{
	width:200px;
	height:30px;
	padding-left : 10px;
}
#searchSelect{
	width:70px;
	height:33px;
}