@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'GmarketSansMedium', sans-serif;
	font-size: 14px;
}

#con {
	width: 1200px;
	display: flex;
	align-items: column;
	margin-left: auto;
	margin-right: auto;
}

li {
	list-style: none;
}

#MyPage_text {
	margin-top: 0px;
}

.page_list {
	margin-top: 20px;
	width: 200px;
}

#info {
	font-weight: bolder;
}

.menu {
	text-decoration: none;
	color: rgb(1, 19, 67);
	font-size: 24px;
}

.menu:hover {
	font-weight: bolder;
}

p#MyPage {
	font-size: 35px;
	text-align: center;
}

#Whole {
	width: 900px;
	margin-left:100px;
}

#title {
	font-size: 35px;
	font-weight: bold;
}

hr {
	margin-top: 20px;
	width: 900px;
	height: 2px;
	background-color: rgb(1, 19, 67);
}

hr#menu_bar {
	width: 200px;
}

#table {
	margin-top: 20px;
	height: 370px;
}

label {
	font-size: 20px;
	margin-right: 15px;
}

.enter {
	width: 500px;
	height: 50px;
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 18px;
	border-radius: 5px;
}

a#Fix {
	text-decoration: none;
	font-size: 20px;
	border: 1px solid rgb(1, 19, 67);
	background-color: rgb(1, 19, 67);
	color: rgb(235, 208, 28);
	padding: 15px;
	border-radius: 5px;
	margin-left: 100px;
}

#delete {
	margin-top: 50px;
}

a#delete_btn {
	text-decoration: none;
	font-size: 20px;
	border: 1px solid rgb(1, 19, 67);
	background-color: rgb(1, 19, 67);
	color: rgb(235, 208, 28);
	padding: 15px;
	border-radius: 5px;
}

#delete_text {
	width: 450px;
	height: 50px;
	font-size: 14px;
	margin-left: 450px;
	color: gray;
}