@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
* {
	padding: 0;
	margin: 0;
	font-family: 'GmarketSansMedium', sans-serif;
}
#con {
	width: 1200px;
	display: flex;
	align-items: column;
	margin-left: auto;
	margin-right: auto;
}

li {
	list-style: none;
}

#MyPage_text {
	margin-top: 0px;
}

.page_list {
	margin-top: 20px;
	width: 200px;
}

#event{
   font-weight: bolder;
}
.menu{
   text-decoration: none;
   color: rgb(1, 19, 67);
   font-size: 24px;
}
.menu:hover{
   font-weight: bolder;
}
li#MyPage_text{
   margin-top: 0px;
}
p#MyPage{
  font-size: 35px; 
  text-align: center;
}
#Whole{
   width: 900px;
   margin-left:100px; 
}
#title{
   font-size: 35px;
   margin-top: 8px;
   font-weight: bold;
}
hr{
   margin-top: 20px;
   width: 900px;
   height: 2px;
   background-color: rgb(1, 19, 67);
}
hr#menu_bar{
   width: 200px;
}
#attend{
   height: 450px;
}
#finish{
   height: 450px;
}

#event_text p{
   font-size: 24px;
   margin-left: 70px;
   margin-top: 25px;
}

#event_table{
   margin-top: 25px;
   margin-left: 70px;
}
td{
   text-align: center;
   width: 250px;
   height: 350px;
}
b{
	font-size: 12px;
}


.paging{
	text-align: center;
	margin-top: 15px;
}