/* 
	이름 : 송경미
	작업 : 후기 작성 페이지
*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.content {
	font-family: 'GmarketSansMedium';
	width: 1200px;
}

.a {
	padding: 2%;
	width: 50%;
	height: 60px;
	display: flex;
	text-align: center;
	font-size: 45px;
	color: rgb(1, 19, 67);
	border-bottom: 2px solid black;
}

.b {
	width: 90%;
	height: 60px;
	border-bottom: 2px solid black;
	display: grid;
	padding: 10px;
	grid-template-columns: repeat(2, 390px);
	grid-template-rows: 30px;
	grid-template-areas: 
		'bname bname star' 'binfor binfor star'
}

.bname {
	grid-area: bname;
	font-size: 20px;
}

.binfor {
	grid-area: binfor;
	font-size: 20px;
}

/* star */
.star {
	position: relative;
	font-size: 60px;
	color: #f0f0f0;
}

.star input {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

.star span {
	width: 0;
	position: absolute;
	left: 0;
	color: rgb(251, 255, 13);
	overflow: hidden;
	pointer-events: none;
}


#st1 {
	font-size: 40px;
}

#st2 {
	font-size: 30px;
}

.d {
	width: 1052px;
	height: 100px;
	padding: 2%;
	background-color: lightgray;
}

.dl {
	float: left;
	width: 50%;
}

.dr {
	float: right;
	width: 50%;
}

.db {
	clear: both;
}

#review_text{
	resize: none;
}

/* button */

input[type="submit"]  {
  background: rgb(1,19,67);
  border: 1px solid rgb(1,19,67);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: rgb(235,208,28);;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
/* 버튼 */

.button-24 {
  background: rgb(1,19,67);
  border: 1px solid rgb(1,19,67);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: rgb(235,208,28);;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: rgb(1,19,67);
}

.button-24:active {
  opacity: .5;
}

a {
  text-align: center;
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
}
