/* 
	이름 : 송경미
	작업 : 고객리뷰 조회 페이지
*/

/* 화면 디자인 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#content {
	height: auto;
	font-family: 'GmarketSansMedium';
}

.total {
	width: 1200px;
	
   
}
.tc{
	padding:10px;
	text-align: center;
	height: 50px;
	width: 1200px;
}

.tcimg {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%; /*둥그런 원으로 만들기 위함*/
  overflow: hidden;
}
.tcimg img{
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.tctext{
	border-top: 2px solid;
	width: 900px;
	margin-left: 90px;
	
	
}

.a {
	width: 100%;
	height: 50px;
	display: flex;
	text-align: center;
	
}

.aa {
	width: 80px;
	padding: 20px;
}

.aa a{
	text-decoration: none;
}

.b {
	width: 100%;
	height: 100px;
	font-weight: bolder;
}

.star_avg {
	font-size: 50px;
}

/* star */
.star {
	position: relative;
	font-size: 28px;
	color: #f0f0f0;
}

.star input {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

.star span {
	width: 0;
	position: absolute;
	left: 0;
	color: rgb(251, 255, 13);
	overflow: hidden;
	pointer-events: none;
}

.fa-solid {
	-webkit-font-smoothing: antialiased;
  	display: var(--fa-display);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}
#st1 {
	font-size: 40px;
}

#st2 {
	font-size: 30px;
}

/* search */
.sft {
	width: 96%;
	height: 60px;
	padding: 2%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#c1 {
	width: 100%;
	height: 30px;
}

#tAndRS {
	width: 100px;
	height: 30px;
}

#pS {
	color: lightgray;
	float: right;
}

/* button */
input[type="submit"]  {
  background: rgb(1,19,67);
  border: 1px solid rgb(1,19,67);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: rgb(235,208,28);;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.d {
	width: 96%;
	height: 100px;
	padding: 2%;
    padding-bottom: 55px; /* Add some spacing between content and image */
    flex: 1; /* Allow the content container to grow */
   

}

.dt {
	
}

.dl {
	float: left;
}

.dr {
	float: right;
}

.db {
	clear: both;
}

#review_content {
	resize: none;
}

/* img_from_user */
.image-container {
    flex-shrink: 0; /* Prevent the image container from shrinking */
    width: 100px; /* Set a fixed width for the image container */
    padding-left: 2%;
}
img {
	border-radius: 5%;
	max-width: 100%;
	height: 100%;
    resize: horizontal;
}