/* 
	이름 : 송경미
	작업 : 숙소 리스트 페이지
*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#content{
		
		  height: auto;
		}

.total_d {
   width: 1200px;
  /*  margin: 20px; */
}


.top_b{
  
    height: 180px;
}


.tb2{
	border-bottom: 3px solid black;
    height: 90px;
}
.tb3{

    height: 25px;
    padding: 28px;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 2px solid lightgray
}

.tbnum{
	font-size: 30px;
	color: blue;
}

.left_b{

    width: 20%;
   /*  height: 700px; */
    float: left;
}

.lb2{

    height: 51px;
}
.lb3{

    height: 620px;
}


.right_b {
  background-color: #fff;
  border-radius: 5px;
  /* padding: 20px; */
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  float: right;
  width: 945px;
}

.rb1 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: right;
  border-bottom: solid 1px;
  /* padding-top: 50px; */
  height: 30px;
}

.rb2 {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.rbp img {
  width: 120px;
  height: 80px;
  object-fit: cover;
  margin-right: 15px;
}

.rbn {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rbn_l {
  font-size: 16px;
  font-weight: bold;
 }

a{
  text-decoration-line: none;
  color: rgba(1,19,67);
	 
}

.rbn_r {
  font-size: 24px;
  color: #e74c3c;
}
.rb_price{
 
}











/* Accordion start */


/* 글자가 뜨는 곳*/
.showinfo {
   display: none;
   margin-top: 10px;
 }
 
.showinfo.active {
   display: block;
}
 

/* #wrapper {
   margin: 5%;
   margin-top: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
} */

/* Accordion Container */
.containerAcco {
   width: 100%;
   max-width: 250px;
   min-width: 200px;
   position: relative;
  
} 

/* shadow */
.containerAcco:before {
   content:'';
   position: absolute;
   width: calc(100% - 30px);
   height: 100%;
   margin: 0;
   left: 15px;
   background-color: transparent;
   top: 0px;
   box-shadow: 0px 20px 40px #52616b;
   opacity: 0.2;  
   z-index: -1;
   transition: ease-in-out 0.6s all;
}

.containerAcco:hover.containerAcco:before {
   box-shadow: 0px 40px 90px #52616b;
}

.accordion {
   list-style: none; 
   margin:0;
   padding: 0;
   background-color: white;
   border-radius: 3px;
}

.accordionTitle {
   padding: 20px; 
   position: relative;
   margin: 0;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 0.8px;
   color: #52616b;
   transition: ease-in-out 0.2s all;
   cursor: pointer;

}

.accordionTitle:hover {
   padding-left: 25px;
   cursor: pointer;
} 

/* Accordion Item line */
.accordionTitle:before,
.accordionTitle:after {
   content:'';
   position: absolute;
   height: 2px;
   border-radius: 50px;
   transition: ease-in-out 0.6s all;
   bottom: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.accordionTitle:before {
   width: 100%;
   background-color: #c9d6df;
}
.accordionTitle:after {
   background-image: linear-gradient(90deg, #52616b, #c9d6df);
   width: 0%;
}

.accordionTitle:hover::after {
   width: 100%;
}

/* Accordion Item line - Active */
.accordionTitleActive:after {
   content:'';
   position: absolute;
   height: 2px;
   border-radius: 50px;
   transition: ease-in-out 0.6s all;
   bottom: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.accordionTitleActive:after {
   background-image: linear-gradient(90deg, #52616b, #c9d6df);
   width: 100%;
}


/* Accordion Item Icon  */
.accIcon {
   float: right;
   width: 30px;
   height: 30px;
   display: flex;
   margin-top: -3px;
   align-items: center;
   justify-content: center;
}

.accIcon:before,
.accIcon:after {
   content:'';
   position: absolute;
   border-radius: 50px;
   background-color: #c9d6df;
   transition: ease 0.3s all;
}

.accIcon:before {
   width: 2px;
   height: 20px;
}

.accIcon:after {
   width: 20px;
   height: 2px;
}

.accordionTitle:hover .accIcon:before,
.accordionTitle:hover .accIcon:after {
   background-color: #52616b;
}

.accIcon.anime.accIcon:before {
   transform: rotate(90deg);
}


/* Text Content */
.accordion .item .text {
   opacity: 0;
   height: 0;
   padding: 0px 20px;
   position: relative;
   line-height: 24px;
   font-size: 16px;
   font-weight: 200;
   transition: all 0.6s cubic-bezier(.42,.2,.08,1);
   overflow: hidden;
   background-color: #f0f5f9;
   letter-spacing: 0.5px;
}

/* Text Content - Class for JS to hide and show */
.accordion .item .text.show {
   opacity: 1;
   height: auto;
   padding: 25px 20px;
   /* position: relative;
   z-index: 0;
   border-radius: 0px 0px 3px 3px; */
}

/* radio button */
/* FORM */

.form .text input, .form .payment-text input, .form .payment-type input{
   display: none;
 }
 
 .form label{
   position: relative;
   color: #fff;
   background-color: #aaa;
   font-size: 20px;
   text-align: center;
   height: 50px;
   line-height: 50px;
   display: revert;
   cursor: pointer;
   border: 3px solid transparent;
   /* -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box; */
 }
 
 .form .text input:checked + label, .form .payment-text input:checked + label{
   border: 3px solid  rgb(1,19,67);
   background-color: rgb(1,19,67);
 }
 
 .form .text input:checked + label:after, form .payment-text input:checked + label:after{
   content: "\2713";
   width: 10px;
   height: 10px;
   line-height: 10px;
   border-radius: 100%;
   border: 2px solid rgb(235,208,28);
   background-color: rgb(1,19,67);
   z-index: 999;
   position: relative;
   top: -15px;
   right: -10px;
 }
 





/* star */
.star {
	position: relative;
	font-size: 23px;
	color: #f0f0f0;
}

.star input {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	/* cursor: pointer; */
}

.star span {
	width: 0;
	position: absolute;
	left: 0;
	color: #f4d210;
	overflow: hidden;
	pointer-events: none;
}

.fa-solid {
	-webkit-font-smoothing: antialiased;
  	display: var(--fa-display);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}




/* button */
button[type="submit"]  {
  background: rgb(1,19,67);
  border: 1px solid rgb(1,19,67);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: rgb(235,208,28);;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}