/* 
	이름 : 송경미
	작업 : 숙소 상세정보 페이지
*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    background-color: RGB(1, 19, 67);
    color: white;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.T1 {
    background-color: RGB(235, 208, 28);
    padding: 10px 0;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
	font-weight:700;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}


#map {
    width: 100%;
    height: 300px;
    background-color: lightgray; /* Placeholder for map */
}

h1 {
    color: RGB(235, 208, 28);
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    margin-top: 10px;
}

#cf{
	color: RGB(235, 208, 28);
    font-size: 20px;
    margin-top: 20px;
	
}

/* icons */
.icons {
    margin-top: 20px;
}

.icons img {
    width: 40px;
    margin-right: 10px;
}
