@charset "UTF-8";
@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
*{
	padding: 0;
	margin: 0;
	font-family: 'GmarketSansMedium',sans-serif;
	font-size: 14px;
}
.withdraw-wrapper{
    width: 500px;
    height: auto;
	margin-left: auto;
	margin-right: auto;
}

.withdraw{
	width: 500px;
    font-size: 40px;
    color: rgb(1, 19, 67);
	margin-top: 300px;
    margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#withdraw-form > input{
    height: 60px;
	width: 500px;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
	font-size: 20px;
    background-color: #F8F8F8;
	border: none;
}
#withdraw-form > input::placeholder{
    color: #D2D2D2;
}
#container{
	width: 500px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
#btn-modal{
    color: rgb(235, 208, 28);
    font-size: 20px;
    background-color: rgb(1, 19, 67);
    margin-top: 0px;
	margin-bottom: 10px;
	border: 0px;
	height: 60px;
	width: 500px;
	border-radius: 6px;
	cursor: pointer;
}
.cancel_tag{
	display: block;
    color: rgb(235, 208, 28);
    font-size: 20px;
    background-color: rgb(1, 19, 67);
	height: 60px;
	width: 500px;
	border-radius: 6px;
	text-decoration: none;
}
p.cancel_text{
	text-align: center;
	line-height: 60px;
	height: 60px;
	font-size: 20px;
}
#modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {

	background: rgba(1, 19, 67, 0.9);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);

	width: 400px;
	height: 200px;
	position: relative;
	top: -100px;
	padding: 10px;
}

#modal .title {
	display: inline;
	text-shadow: 1px 1px 2px gray;
	color: white;
	color: rgb(235, 208, 28);
}
.modal_title{
	font-size: 24px;
	width: 100px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	color: rgb(235, 208, 28);
	text-shadow: 1px 1px 2px gray;
}

#modal .close-area {
	display: inline;
	float: right;
	padding-top: 10px;
	padding-right: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: rgb(235, 208, 28);
	font-size: 25px;
}

.modal_content{
	text-align: center;
	font-size: 20px;
	color: rgb(235, 208, 28);
	text-shadow: 1px 1px 2px gray;
	margin-top: 25px;
}

.check_container{
	width: 100px;
	margin: 25px auto 0 auto;
}
#last_check{
	background: rgb(1, 19, 67, 0.9);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	color: rgb(235, 208, 28);
	border: 1px solid yellow;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	cursor: pointer;
}
.withdraw-wrapper i{
	position: relative;
    left: 440px;
    top: -51px;
    color: rgb(1, 19, 67);
	cursor: pointer;
}
