
/* 
	제작 : 남기문 
    일자 : 2023. 09. 02
*/

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 메인 스타일 */

/* html { box-sizing: border-box; } */

/* *, *:before, *:after { box-sizing: inherit; } */

body {
    background: white;
    margin: 0;
}

.container {
    padding: 15px 70px;
    width: auto;
    font-family: 'GmarketSansMedium', sans-serif; 
}

/* 사진 스타일 */
#logo_img{
    width: 220px;
    height: 50px;

    /* 메뉴 (지역, 테마, 더보기) 위치 변경시 이거 변경해주면 됨.. */
    margin-right: 80px; 
}

/* 상단바 네비게이션 스타일 */

#navigation { 
    background: #011967; 
    height: 85px;
}

#navigation ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}

#navigation ul li {
    display: inline-block;
    position: relative;
}

.menu-etc a {
    display: block;
    font-size: 20px;
    padding: 15px 5px;
    color:rgb(235, 208, 28);
    width: auto;
    text-decoration: none;
}
/* 오른쪽 로그인 스타일 */

.menu-etc a:hover{
    color: lightblue;
}

.menu-bar a{
    display: block;
    font-size: 25px;
    padding: 15px 0px;
    margin-right: 50px;
    width: 300px;
    height: 40px;
    color: rgb(235, 208, 28);
    transition: 0.3s linear;
    text-decoration: none;
}

.menu-bar:hover { background: #011967; }

.menu-bar ul {
    background-color: white;
    border-bottom: 5px solid #2ba0db;
    display: none;
    position: absolute;
    width: 300px;
}

.inner_button{
    margin: 10px 15px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: #011967;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.inner_button:hover{
    background-color:#011967;
    color: rgb(235, 208, 28);
}

