@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}
header {
    background-color: #011967;
    width: 100%;
    height: 100px;
}

#login {
    float: right;
    margin: 20px 20px 0 0;
    font-size: 20px;
    word-spacing: 10px;
    color: aliceblue;
}

#login a {
    color: rgb(235, 208, 28);
    text-decoration: none;
    font-weight: bold;
}

#login a:hover {
    color:lightblue;
    text-decoration: none;
    font-weight: bold;
}

ul {
    padding: 0;
    margin-top: 0px;
}

li {
    display: inline;
}

nav {
    font-size: 20px;
    font-family: 'GmarketSansMedium', sans-serif; 
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    z-index: 100; /* 다른 content보다 맨 앞에 위치시킴 */
}

nav .menubar {
    color: rgb(235, 208, 28);
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    float: left;
    margin: 0 150px 0 150px;
}

nav ul li:hover ul {
    display: block;
    background-color: white;
}

nav ul li ul {
    position: absolute;
    display: none;
    margin: 20px 10px;
}
nav ul li ul li {
    display: inline;
    text-align: center;
}

nav ul li ul li a {
    color: #011967;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 40px;
    width: 160px;
    justify-content: center;
    align-items: center;
}
nav ul li ul li a:hover {
    background-color: #011967;
    border-radius: 10px;
    color: rgb(235, 208, 28);
}

#copy {
    text-align: center;
}

footer hr{
    width: 1200px;
}


/*        추가사항       */
/* html 태그에 해당 클래스가 추가되면 해당 태그부터는 더 이상 float 속성의 영향을 받지 않음 */
.clear{
    clear: both;
}

/* 지역 목록태그 li, 테마 목록태그 li */
#region-list-content li, #theme-list-content li{
    float: left;
    width: 100px;
}

#member-list-content, #stay-list-title, #event-list-title{
    z-index: 100; /* 다른 content보다 맨 앞에 위치시킴 */
}

#member-list-content{
    margin-top: 38px;
    margin-left: 130px;
}

#stay-list-content{
    margin-top: 38px;
    margin-left: 550px;
}

#event-list-content{
    margin-top: 38px;
    margin-left: 975px;
}