@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}
header {
    background-color: #011967;
    width: 100%;
    height: 100px;
}

#login {
    float: right;
    margin: 20px 20px 0 0;
    font-size: 20px;
    word-spacing: 10px;
    color: aliceblue;
}

#login a {
    color: rgb(235, 208, 28);
    text-decoration: none;
    font-weight: bold;
}

#login a:hover {
    color:lightblue;
    text-decoration: none;
    font-weight: bold;
}

ul {
    padding: 0;
    margin-top: 0px;
}

li {
	padding: 0;
    display: inline;
}

nav {
    font-size: 20px;
    font-family: 'GmarketSansMedium', sans-serif; 
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    z-index: 100; /* �떎瑜� content蹂대떎 留� �븵�뿉 �쐞移섏떆�궡 */
}

nav .menubar {
    color: rgb(235, 208, 28);
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    float: left;
    margin: 12px 150px 0 150px;
}

nav ul li:hover ul {
    display: block;
    background-color: white;
   	
}

nav ul li ul {
    position: absolute;
    display: none;
    margin: 25px 10px;
    padding: 0px;
}
nav ul li ul li {
    display: inline;
    text-align: center;
}

nav ul li ul li a {
    color: #011967;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 40px;
    width: 110px;
    justify-content: center;
    align-items: center;
}
nav ul li ul li a:hover {
    background-color: #011967;
    border-radius: 10px;
    color: rgb(235, 208, 28);
}

#copy {
    text-align: center;
}

/*        異붽��궗�빆       */
/* html �깭洹몄뿉 �빐�떦 �겢�옒�뒪媛� 異붽��릺硫� �빐�떦 �깭洹몃��꽣�뒗 �뜑 �씠�긽 float �냽�꽦�쓽 �쁺�뼢�쓣 諛쏆� �븡�쓬 */
.clear{
    clear: both;
}

/* 吏��뿭 紐⑸줉�깭洹� li, �뀒留� 紐⑸줉�깭洹� li */
#region-list-content li, #theme-list-content li{
    float: left;
    width: 100px;
}

#region-list-content, #theme-list-content, #addition-list-content{
    z-index: 100; /* �떎瑜� content蹂대떎 留� �븵�뿉 �쐞移섏떆�궡 */
}

#region-list-content{
    margin-top: 52px;
    margin-left: 80px; 
}

#theme-list-content{
    margin-top: 52px;
    margin-left: 430px;
}

#addition-list-content{
    margin-top: 52px;
    margin-left: 855px;
}