
/* 

	신재환
	
	- 숙소 등록 리스트
	
 */

 /* 화면 디자인 */
@font-face { 
    font-family: 'GmarketSansMedium'; 
    src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
    } 

*{
    text-align: center;
    font-family: 'GmarketSansMedium';
    font-weight : medium;
}

table {
	width : 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    border-collapse : collapse;
}

table, td, th {
	width : 1000px;
    border : 1px solid black;
    padding: 10px;
}

.location {
	width : 200px;
	height : 30px;
	font-size : 16px;
	vertical-align: top;
	box-sizing: border-box;
}
	
.type {
	
	width : 200px;
	height : 30px;
	font-size : 16px;
	vertical-align: top;
	box-sizing: border-box;
}

#searchbtn {
	height : 30px;
	width: 150px;  
    font-size: 16px; 
    padding: 10px 20px; 
    background-color: navy; 
    color: yellow; 
    border: none; 
    border-radius: 8px;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    line-height: 15px;
	box-sizing: border-box;
}

.tbbtn {
	 width: 150px; 
     height: 50px; 
     font-size: 16px; 
     margin-top : 5px;
     padding: 10px 20px; 
     background-color: navy; 
     color: yellow; 
     border: none; 
     border-radius: 8px; 
     cursor: pointer;
}
