
/* 

	신재환
	
	- 숙소 등록
	
 */

 /* 화면 디자인 */

 @font-face { 
    font-family: 'GmarketSansMedium'; 
    src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

* {
    font-family: 'GmarketSansMedium';
    font-size : medium;
    text-align: center;
    align-items: center;
}

body {
    /* width: 1200px; */
}

.stay_registration_text {
	font-size : 30px;
	font-weight : bold;
}

#detailinfo, #hashtag{
    border: 1px solid grey;
    border-radius: 30px;
    padding: 20px 20px;
    width: 800px;
    margin: 0 auto;
}

.btn {
    margin-top: 10px;
    background-color: navy;
    color: yellow;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.location, .category {
    width: 200px;
}

.title {
	margin-top : 10px;
	width : 300px;
}

.xy {
	margin-top : 10px;	
}

#titlefield {
    margin-top: 20px;
}

.bed {
    display: inline-flex;
    margin: 10px;
}

.bed input[type="radio"] {
    margin-left: 5px;
    margin-right: 5px;
    color: navy;
}

#stayinfo,
#staypolicy,
#detailroominfo {
    text-align: center;
    margin: 20px auto; /* 수평 가운데 정렬 */
}

#stay_room_facility {
    margin-bottom: 5px;
}

#stayinfotext {
    display:flexbox;
}

#searchButton {
	background-color: navy;
	color : yellow;
	cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

.image, .image2, .image3 {
	width: 200px;
	height : 200px;
	background-color : navy;
}

.stay_room_single_bed,
.stay_room_double_bed,
.stay_room_queen_bed {
	/* margin-left: 5px;
	margin-right: 5px; */
	padding-left: 5px;
	padding-right: 5px;
}

/* 팝업창 디자인 */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 800px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#popup-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

